<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>This is the landing Page</h1>
        <a href = "/campsites">click here to view campsites</a>
    </div>
</div>


<% include partials/footer %>
